<a href="https://colab.research.google.com/github/luisescobar09/API-REST/blob/main/SQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL Alchemy** *probando ORM con Python*

*Importación de librerías:*

In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, insert, select, update, delete

*Conexión con la base de datos:*

In [2]:
engine = create_engine('sqlite:///prueba.sqlite')

*Modelo de datos:*

In [3]:
metadata = MetaData()

*Configuración del modelo (tabla y campos):*

In [4]:
clientes = Table(
  'clientes', metadata,
  Column( 'id_cliente', Integer, primary_key = True),
  Column( 'nombre', String, nullable = False ),
  Column( 'email', String, nullable = False )
)

*Creación del modelo configurado anterior:*

In [5]:
metadata.create_all(engine)

*Inserción de un registro:*

In [6]:
stmt = insert(clientes).values(nombre="Cliente 1", email="cliente1@email.com")
print(type(stmt), stmt)

<class 'sqlalchemy.sql.dml.Insert'> INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

In [7]:
with engine.connect() as connection:
  result = connection.execute(stmt)

*Insrción de más de un registro:*

In [8]:
data = [
    { "nombre" : "Cliente 2", "email" : "cliente2@email.com" },
    { "nombre" : "Cliente 3", "email" : "cliente3@email.com" },
    { "nombre" : "Cliente 4", "email" : "cliente4@email.com" }
]
stmt = insert(clientes).values(data)
print(type(stmt), stmt)

<class 'sqlalchemy.sql.dml.Insert'> INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

In [9]:
with engine.connect() as connection:
  result = connection.execute(stmt)

*Consulta simple (toda la tabla):*

In [10]:
stmt = select(clientes)
print(type(stmt), stmt)

<class 'sqlalchemy.sql.selectable.Select'> SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [11]:
with engine.connect() as connection:
  result = connection.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente 1', 'cliente1@email.com')
(2, 'Cliente 2', 'cliente2@email.com')
(3, 'Cliente 3', 'cliente3@email.com')
(4, 'Cliente 4', 'cliente4@email.com')

*Consulta de un registro en particular:*

In [12]:
stmt = select(clientes).where(clientes.c.id_cliente == 1)

In [18]:
with engine.connect() as connection:
  result = connection.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente 1', 'cliente1@email.com')

*Consulta de aquellos nombres que contengan un 2:*

In [21]:
stmt = select(clientes).where(clientes.c.nombre.like("%2"))
with engine.connect() as connection:
  result = connection.execute(stmt)
  for row in result.fetchall():
    print(row)

(2, 'Cliente 2', 'cliente2@email.com')

*Actualización de un campo de un registro en específico:*

In [22]:
stmt = update(clientes).where(clientes.c.id_cliente == 1).values(nombre = "Cliente actualizado")
with engine.connect() as connection:
  result = connection.execute(stmt)
stmt = select(clientes).where(clientes.c.id_cliente == 1)
with engine.connect() as connection:
  result = connection.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente actualizado', 'cliente1@email.com')

*Eliminación de un registro:*

In [23]:
stmt = delete(clientes).where(clientes.c.id_cliente == 3)
with engine.connect() as connection:
  result = connection.execute(stmt)
stmt = select(clientes)
with engine.connect() as connection:
  result = connection.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente actualizado', 'cliente1@email.com')
(2, 'Cliente 2', 'cliente2@email.com')
(4, 'Cliente 4', 'cliente4@email.com')